[user]
	name = Miklos Vajna
	email = vmiklos@collabora.co.uk
[color]
	grep = auto
[push]
	default = current
[alias]
	mylog = log --author=vmiklos
[review "review.cyanogenmod.org"]
	username = vmiklos
[http]
	cookiefile = /home/vmiklos/.gitcookies
