[user]
	name = Miklos Vajna
	email = vmiklos@collabora.com
[color]
	grep = auto
[push]
	default = current
[alias]
	mylog = log --author='Miklos Vajna'
	lg = log --pretty=fuller
	# %cd is _committer_ date
	myonelinerlog = log --author=vmiklos --date=short --pretty=format:'%H %cd %s'
	showref = show -s --date=short --pretty='format:%H (%s, %cd)'
[review "review.cyanogenmod.org"]
	username = vmiklos
[http]
	cookiefile = /home/vmiklos/.gitcookies
[transfer]
	#fsckobjects = true
[fetch]
	#fsckobjects = true
[receive]
	#fsckObjects = true
[gc]
	autoDetach = false
[fetch]
	prune = true
[interactive]
	singleKey = true
[advice]
	skippedCherryPicks = false
