# This is an example resource file for rTorrent. Copy to
# ~/.rtorrent.rc and enable/modify the options as needed. Remember to
# uncomment the options you wish to enable.

# Global upload and download rate in KiB. "0" for unlimited.
download_rate = 250
upload_rate = 50

# Default session directory. Make sure you don't run multiple instance
# of rtorrent using the same session directory. Perhaps using a
# relative path?
session = ./session

# Watch a directory for new torrents, and stop those that have been
# deleted.
schedule = watch_directory,5,5,load.start=./watch/*.torrent

# Port range to use for listening.
port_range = 6916-6916

dht = auto
