[Unit]
Description=matterircd
 
[Service]
ExecStart=/home/vmiklos/git/go/bin/matterircd --bind 127.0.0.1:6668
Restart=always

[Install]
WantedBy=multi-user.target
